@import './foundation/scss/normalize';
@import './foundation/scss/foundation';

.hidden {
  display: none;
}

form {
  margin: 20px 0 0;
}

table {
  margin: 50px 0;
}

h1, h2, h3 {
 font-family: "Lucida Console", Monaco, monospace;
 font-weight: light;
}

.button {
 background-color: #4BE0EB
}

th, td {
  text-align: center;

}

.login {
 border: 1px solid lightgray;
 margin-top: 20px;
 box-shadow: 5px 5px 0 0 lightgray;
}

img {
  height: 100px;
  width: 100px;
}
